* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: aliceblue;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

.startover {
    text-decoration: none;
    position: fixed;
    right: 10px;
    bottom: 30px;
    border: none;
    font-size: 75px;
    font-weight: 900;
    transform: rotate(90deg);
    z-index: 2000;
    text-shadow: 0px 0px 4px black;
    animation: blink0 2s infinite;
}

@keyframes blink0 {

    0%,
    100% {
        color: rgb(198, 4, 252);
    }

    50% {
        color: red;
    }
}

.startover:hover {
    animation: none;
    color: rgb(81, 255, 0);
}

/* Header section */

.header {
    width: 100vw;
    background-color: rgb(213, 234, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgb(202, 227, 249, 0.8);
    z-index: 1000;
}

.heading {
    display: flex;
    align-items: center;
    padding: 20px;
}

.heading h1 {
    margin-left: 10px;
    font-size: 50px;
    background: linear-gradient(90deg, rgba(50, 89, 252, 0.9818431522999825) 0%, rgba(211, 16, 255, 1) 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease;
}

.heading h1:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.navigators {
    display: flex;
    justify-content: space-around;
    margin-left: -50px;
    width: 550px;
    font-size: 24px;
    font-weight: 700;
}

.navigators a {
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.navigators a:hover {
    transform: scale(1.1);
    text-decoration: underline;
    color: rgb(0, 0, 255);
}

.navigators a.active {
    color: orangered;
}

.options {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.options img {
    margin-right: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.options img:hover {
    transform: scale(1.15);
    filter: contrast(0.4);
}

.menu {
    display: none;
}

/* User section */

.blurbackground {
    display: none;
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 550px;
    opacity: 0.4;
    z-index: 1000;
}

.sendmessage,
.forget,
.signin,
.signup {
    width: 250px;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    position: fixed;
    right: 50px;
    color: orangered;
    z-index: 1000;
}

.signin {
    display: none;
}

.signup {
    display: none;
}

.forget {
    display: none;
}

.sendmessage {
    display: none;
}

.forgetform h3,
.signupform h3,
.signinform h3 {
    margin-bottom: 15px;
    font-size: 30px;
}

.sendmessage p {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.name,
.email,
.phonenumber,
.password1,
.password2 {
    outline: none;
    font-size: 15px;
    width: 235px;
    padding: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid black;
}

.name,
.email,
.phonenumber,
.password1,
.password2::placeholder {
    opacity: 0.6;
}

.remember {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    cursor: pointer;
}

.remember input {
    transform: scale(1.5);
}

.remember p {
    margin-left: 10px;
    opacity: 0.8;
    color: black;
}

.remember p:hover {
    text-decoration: underline;
}

.send,
.done,
.submit {
    cursor: pointer;
    border: 2.5px solid black;
    margin: 15px;
    margin-left: 35px;
    width: 180px;
    padding: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 0 15px 15px 15px;
}

.send:hover,
.done:hover,
.submit:hover {
    background-color: rgb(255, 145, 0);
    color: white;
}

.bottomline {
    display: flex;
    justify-content: space-between;
}

.forgetclick,
.signupclick {
    color: orangered;
}

.forgetclick:hover,
.signupclick:hover {
    color: rgb(255, 0, 68);
    text-decoration: underline;
    cursor: pointer;
}

/* Home */

.homepage img {
    position: absolute;
    left: -500px;
}

.hometitle {
    position: relative;
    font-size: 90px;
    font-weight: 900;
    top: 10px;
    left: 600px;
    text-shadow:
        -1px -1px 0 rgba(0, 179, 255, 0.359),
        1px -1px 0 rgba(0, 179, 255, 0.359),
        -1px 1px 0 rgba(0, 179, 255, 0.359),
        1px 1px 0 rgba(0, 179, 255, 0.359);
    display: inline;
}

.homeinfo {
    position: relative;
    display: inline;
    font-size: 40px;
    font-weight: 900;
    left: 860px;
    background: linear-gradient(90deg, rgba(148, 49, 176, 0.9818431522999825) 3%, rgba(18, 117, 156, 1) 100%, rgba(255, 16, 233, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fordogs,
.forcats {
    cursor: pointer;
    position: relative;
    display: inline;
    border: 3px solid black;
    width: 250px;
    padding: 8px;
    font-size: 35px;
    letter-spacing: 1px;
    top: 65px;
    left: 800px;
    margin-left: 20px;
    border-radius: 0 15px 15px 15px;
}

.fordogs {
    animation: blink1 1.2s infinite;
}

.forcats {
    animation: blink2 1.2s infinite;

}

@keyframes blink1 {

    0%,
    100% {
        background-color: rgb(255, 145, 0);
        color: white;
    }

    50% {
        background-color: rgb(255, 187, 0);
        color: black;
    }
}

@keyframes blink2 {
    50% {
        background-color: rgb(255, 145, 0);
        color: white;
    }

    0%,
    100% {
        background-color: rgb(255, 187, 0);
        color: black;
    }
}

.fordogs:hover,
.forcats:hover {
    animation: none;
    background-color: orangered;
    color: white;
}

.food2 {
    position: relative;
    left: 850px;
    top: 75px;
    opacity: 0.8;
}

.homeend {
    padding-bottom: -150px;
}

/* About section */

.aboutus {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.aboutus h1 {
    font-size: 50px;
    font-weight: 800;
    font-family: cursive;
}

.aboutus p {
    width: 650px;
    font-size: 30px;
    font-weight: 500;
    padding-top: 20px;
}

.brline {
    width: 300px;
    border-bottom: 5px solid orangered;
    border-radius: 30px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 2.5px solid black;
    transition: all 1s easy;
    width: 280px;
    height: 150px;
    padding: 20px;
    background-color: white;
}

.card h1 {
    font-size: 35px;
    font-weight: 800;
    color: orangered;
    text-decoration: underline;
    padding-bottom: 10px;
}

.card p {
    font-size: 20px;
    font-weight: 700;
}

#c1,
#c3 {
    animation: blink3 5s infinite;
}

#c2 {
    animation: blink4 5s infinite;
}

@keyframes blink3 {

    0%,
    100% {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
    }

    50% {
        background-color: white;
        color: black;
    }
}

@keyframes blink4 {
    50% {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
    }

    0%,
    100% {
        background-color: white;
        color: black;
    }
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 5px black;
}

#c1:hover,
#c2:hover,
#c3:hover {
    animation: none;
}

.about {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.aboutinfo {
    display: flex;
    flex-direction: column;
}

.infocontainer {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    gap: 20px;
}

.infoitem {
    display: flex;
    flex-direction: row;
    width: 250px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 15px;
    transition: all 0.3s ease;
    cursor: context-menu;
    align-items: center;
}

.infoitem:hover {
    background-color: white;
    box-shadow: 0px 1px 5px black;
    transform: scale(1.1);
    color: orangered;
}

.infoitem p {
    padding-left: 20px;
    font-size: larger;
    font-weight: 700;
}

.foodimg {
    border-radius: 50px;
}

.aboutheading {
    font-size: 70px;
    font-weight: 900;
}

/* Prices */
.price {
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.priceinfo {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
}

.priceinfo h1 {
    font-size: 60px;
    font-weight: 900;
    padding-top: 40px;
}

.priceinfo p {
    padding-top: 15px;
    font-size: 25px;
    font-weight: 500;
    width: 500px;
}

.amount {
    font-weight: 700;
    font-size: 40px;
    padding-top: 20px;
}

.buy,
.buymore {
    cursor: pointer;
    border: 3px solid black;
    width: 250px;
    padding: 8px;
    font-size: 25px;
    letter-spacing: 1px;
    border-radius: 0 15px 15px 15px;
    margin-top: 30px;
    margin-left: 3px;
}

.buy {
    animation: blink1 1.2s infinite;
}

.buy:hover,
.buymore:hover {
    animation: none;
    background-color: orangered;
    color: white;
}

/* Cat Boarding */

.catboarding,
.dogkennels {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    background-color: white;
    border-radius: 50px;
    padding-bottom: 50px;
}

.catcontainer,
.dogcontainer {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.catcontainer h2,
.dogcontainer h2 {
    font-size: 70px;
    font-weight: 900;
}

.catcontainer p,
.dogcontainer p {
    font-size: 25px;
    font-weight: 700;
}

.caticons,
.dogicons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 30px;
}

.eat,
.play,
.sleep {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 140px;
    border-radius: 20px;
    border: 2px solid rgb(0, 115, 255);
    padding: 15px;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 0, 123);
    font-weight: 100;
    box-shadow: 0px 0px 5px black;
}

.booking,
.viewmore {
    cursor: pointer;
    border: 3px solid black;
    width: 250px;
    padding: 8px;
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: 18px;
    border-radius: 15px;
    margin-top: 40px;
}

.booking {
    animation: blink1 1.2s infinite;
}

.booking:hover,
.viewmore:hover {
    animation: none;
    background-color: orangered;
    color: white;
}

/* Dog Kennels */

.dogkennels {
    padding-left: 20px;
}

.dogkennelsimg {
    margin-left: -20px;
}

/* Other Services */

.servicecontainer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.serviceitem {
    text-align: center;
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 5px black;
    transition: all 1s ease;
}

.serviceitem:hover {
    transform: scale(1.1);
}

.serviceitem h1 {
    font-size: 45px;
    font-weight: 800;
}

.serviceitem p {
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

#s1 {
    animation: expand1 4s infinite;
}

#s2 {
    animation: expand2 4s infinite;
}

#s3 {
    animation: expand1 4s infinite;
}

@keyframes expand1 {

    0%,
    100% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes expand2 {

    50% {
        transform: scale(1.1);
    }

    0%,
    100% {
        transform: scale(1);
    }
}

/* Plan */
.plans {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 80px;
    padding-top: 45px;
    padding-bottom: 40px;
}

.planshead {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    padding: 60px;
    border-radius: 50px;
}

.planshead h1 {
    font-size: 80px;
    font-weight: 900;
}

.planshead p {
    font-size: 25px;
    padding-left: 10px;
    font-weight: 700;
}

.planbook,
.planmore {
    cursor: pointer;
    border: 3px solid black;
    width: 250px;
    padding: 8px;
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: 18px;
    border-radius: 15px;
    margin-top: 40px;
}

.planbook {
    animation: blink1 1.2s infinite;
}

.planmore:hover,
.planbook:hover {
    animation: none;
    background-color: orangered;
    color: white;
}

.planscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.plan1,
.preplan1,
.plan2,
.preplan2 {
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(252, 160, 79);
    border-radius: 40px;
    padding: 15px;
    height: fit-content;
    align-items: center;
}

.preplan1,
.preplan2 {
    background-color: rgb(245, 237, 207);
    transform: scale(1.15);
    height: 500px;
    animation: expand1 3s infinite;
    z-index: 1;
    width: 175px;
}

.plan1,
.plan2 {
    height: 450px;
    width: 150px;
    background-color: rgb(241, 238, 227);
    animation: expand2 3s infinite;
}

.planscontainer h2 {
    font-size: 30px;
    font-weight: 800;
}

/* Contact */

.contactheading {
    display: flex;
    align-items: center;
    padding: 20px;
}

.contactheading h1 {
    margin-left: 10px;
    font-size: 50px;
    background: linear-gradient(90deg, rgba(50, 89, 252, 0.9818431522999825) 0%, rgba(211, 16, 255, 1) 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease;
}

.contactheading h1:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

.contacts {
    background-color: black;
    color: white;
    padding: 40px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.contactbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contacticons {
    padding-left: 80px;
    align-items: center;
}

.contacticons img {
    transition: all 0.5s ease;
    margin-right: 10px;
}

.contacticons img:hover {
    transform: scale(1.3);
}

.box2,
.box3 {
    font-weight: 800;
}

.box2 h1 {
    padding-left: 15px;
    padding-bottom: 2px;
    font-size: 40px;
    color: rgb(147, 244, 244);
}

.box3,
.box4 {
    text-align: center;
}

.box3 h1,
.box4 h1 {
    padding-bottom: 5px;
    font-size: 40px;
    color: rgb(147, 244, 244);
}

.box3 a {
    text-decoration: none;
    color: white;
}

.box3 a:hover {
    color: aqua;
}

.subscribemail {
    padding: 5px 0 5px 10px;
    font-size: large;
    border: none;
    border-radius: 20px;
    outline: none;
    font-weight: 700;
}

.subscribe {
    margin-top: 20px;
    padding: 8px 15px 8px 15px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    background-color: rgb(147, 244, 244);
    transition: all 0.3s ease;
}

.subscribe:hover {
    background-color: orangered;
    color: white;
}

@media screen and (max-width: 768px) {
    .menu {
        display: inline;
    }

    .navigators {
        display: none;
        position: relative;
        right: -85px;
        top: 150px;
        width: fit-content;
        padding: 20px;
        background-color: rgba(0, 255, 200, 0.975);
        z-index: 1000;
        border-radius: 20px;
    }

    .hometitle {
        font-size: 60px;
        top: 30px;
        left: 10px;
    }

    .homeinfo {
        font-size: 20px;
        font-weight: 900;
        top: 55px;
        left: 10px;
    }

    .fordogs,
    .forcats {
        top: 55px;
        left: 40px;
        font-size: 20px;
    }

    .homeend {
        margin-top: 100px;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .aboutinfo {
        display: flex;
        flex-direction: column;
    }

    .infocontainer {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding-left: 50px;
    }

    .infoitem {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 300px;
    }

    .infoitem p {
        padding-left: 20px;
        font-size: larger;
        font-weight: 700;
    }

    .foodimg {
        width: 450px;
        padding-top: 20px;
    }

    .aboutheading {
        font-size: 50px;
        font-weight: 900;
    }
}